.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main{
  width: 1200px;
  margin: auto;
}
.form form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-input{
  display: flex;
  flex-direction: column;
}
input{
  padding: 10px 20px;
}
button{
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  padding: 7px 14px;
}
.sport-wrapper{
  margin-top: 70px;
}
.name-list{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.sport-item{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}